<footer class="page-footer">
    <div class="container">
        <div class="row">
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © PETZ - People For The Ethical Treatement of Zombies
        </div>
    </div>
    <br>
</footer>