<main>
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo center">
                PETZ 🧟
            </a>
            <ul class="left hide-on-med-and-down">
                <li>
                    <a href="/zombies/add">
                        Registrar Zombie
                        <span class="material-icons" style="vertical-align: middle;">
                            feedback
                        </span>
                    </a>
                </li>  

                <li>
                    <a href="/zombies/edit">
                        Editar Estado
                        <span class="material-icons" style="vertical-align: middle;">
                            edit
                        </span>
                    </a>
                </li> 
            </ul>
        </div>
    </nav>
