<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<h1 style="text-align: center;">P치gina no encontrada</h1>
<h3 style="text-align: center;">Un Zombie se comi칩 esta p치gina 游땩</h3>
<h5 style="text-align: center;">Favor de comunicarse con el soporte t칠cnico de la organizaci칩n</h5>
<div style="text-align: center;">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/575c3915428995.56290f0a64309.gif">
</div>
<div style="text-align: center;">
    <a class="waves-effect waves-light btn" href="/zombies/add" id="return">Volver</a>
</div>
<br><br>
<%- include('includes/footer.ejs') %>
